<a href="https://colab.research.google.com/github/sanjaykumar545/RoadSafe-Analytics/blob/main/milestone1/week2/day7/missing_data_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [6]:
data={
    'A':[1,2,np.nan,4],
    'B':[np.nan,2,np.nan,4],
    'C':[2,4,np.nan,6]
}
ds=pd.DataFrame(data)
print(ds)
rows=ds.dropna(axis=0)
print("\ndrops rows with nan values :\n",rows)
cols=ds.dropna(axis=1)
print("\ndrops rows with nan values :\n",cols)

#drop cols with morethan 51%
per=0.51*len(ds)
print(ds.dropna(axis=1,thresh=per))

     A    B    C
0  1.0  NaN  2.0
1  2.0  2.0  4.0
2  NaN  NaN  NaN
3  4.0  4.0  6.0

drops rows with nan values :
      A    B    C
1  2.0  2.0  4.0
3  4.0  4.0  6.0

drops rows with nan values :
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
     A    C
0  1.0  2.0
1  2.0  4.0
2  NaN  NaN
3  4.0  6.0

In [12]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       2 non-null      float64
 2   C       3 non-null      float64
dtypes: float64(3)
memory usage: 228.0 bytes

Imputing example

a. Filling with 0

In [7]:
ds_const=ds.fillna(0)
print(ds_const)

     A    B    C
0  1.0  0.0  2.0
1  2.0  2.0  4.0
2  0.0  0.0  0.0
3  4.0  4.0  6.0

Fill with mean , median and mode

In [14]:
#a mean
ds_mean=ds.fillna(ds.mean(numeric_only=True))
print(ds_mean)

#b median
ds_median=ds.fillna(ds.median(numeric_only=True))
print(ds_median)

#c mode
ds_mode = ds.apply(lambda x: x.fillna(x.mode()[0]) if x.dtype=='O' else x)
print(ds_mode)

          A    B    C
0  1.000000  3.0  2.0
1  2.000000  2.0  4.0
2  2.333333  3.0  4.0
3  4.000000  4.0  6.0
     A    B    C
0  1.0  3.0  2.0
1  2.0  2.0  4.0
2  2.0  3.0  4.0
3  4.0  4.0  6.0
     A    B    C
0  1.0  NaN  2.0
1  2.0  2.0  4.0
2  NaN  NaN  NaN
3  4.0  4.0  6.0

c. Forward fill and backwardfill

In [17]:
ds_ffill=ds.fillna(method='ffill')
print(ds_ffill)

ds_bfill=ds.fillna(method='bfill')
print(ds_bfill)

     A    B    C
0  1.0  NaN  2.0
1  2.0  2.0  4.0
2  2.0  2.0  4.0
3  4.0  4.0  6.0
     A    B    C
0  1.0  2.0  2.0
1  2.0  2.0  4.0
2  4.0  4.0  6.0
3  4.0  4.0  6.0

/tmp/ipython-input-1954428299.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ds_ffill=ds.fillna(method='ffill')
/tmp/ipython-input-1954428299.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ds_bfill=ds.fillna(method='bfill')

d. Advanced knn

In [18]:
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=2)
ds_knn=pd.DataFrame(imputer.fit_transform(ds),columns=ds.columns)
print(ds_knn)

          A    B    C
0  1.000000  3.0  2.0
1  2.000000  2.0  4.0
2  2.333333  3.0  4.0
3  4.000000  4.0  6.0

3.Choosing the beast approach

In [23]:
data={
    'Age': [25, np.nan, 30, 22, 40, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 52000, 58000, 62000, np.nan],
    'City': ['New York', 'Los Angeles', 'New York', np.nan, 'Chicago', 'Chicago', 'Los Angeles'],
    'Purchased': ['Yes', 'No', np.nan, 'No', 'Yes', 'Yes', 'No']
}
df_dummy=pd.DataFrame(data)
print(df_dummy)
df_imputed=df_dummy.copy()
df_imputed['Age']=df_imputed['Age'].fillna(df_imputed['Age'].mean())
df_imputed['Salary']=df_imputed['Salary'].fillna(df_imputed['Salary'].median())
df_imputed['City']=df_imputed['City'].fillna(df_imputed['City'].mode()[0])
df_imputed['Purchased']=df_imputed['Purchased'].fillna(df_imputed['Purchased'].mode()[0])
print("\n")
print(df_imputed)

    Age   Salary         City Purchased
0  25.0  50000.0     New York       Yes
1   NaN  60000.0  Los Angeles        No
2  30.0      NaN     New York       NaN
3  22.0  52000.0          NaN        No
4  40.0  58000.0      Chicago       Yes
5   NaN  62000.0      Chicago       Yes
6  28.0      NaN  Los Angeles        No


    Age   Salary         City Purchased
0  25.0  50000.0     New York       Yes
1  29.0  60000.0  Los Angeles        No
2  30.0  58000.0     New York        No
3  22.0  52000.0      Chicago        No
4  40.0  58000.0      Chicago       Yes
5  29.0  62000.0      Chicago       Yes
6  28.0  58000.0  Los Angeles        No