In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
ds=pd.read_csv('/content/drive/MyDrive/INFOSYS/archive/US_Accidents_March23.csv')

In [4]:
import numpy as np
import matplotlib.pyplot as plt

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [6]:
ds.tail()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [3]:
ds.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

1. What is the distribution of accident severity levels?

In [8]:
print(ds['Severity'].value_counts().sort_index())

Severity
1      67366
2    6156981
3    1299337
4     204710
Name: count, dtype: int64

2. How is the accident frequency distributed by hour of the day?

In [9]:
ds['Start_Time']=pd.to_datetime(ds['Start_Time'],errors='coerce')
ds['hour']=ds['Start_Time'].dt.hour
print(ds['hour'].value_counts().sort_index())

hour
0.0      98452
1.0      85743
2.0      82394
3.0      74229
4.0     149077
5.0     209579
6.0     375179
7.0     546789
8.0     541643
9.0     334067
10.0    313625
11.0    322215
12.0    316904
13.0    352361
14.0    394697
15.0    463389
16.0    520177
17.0    516626
18.0    390621
19.0    267045
20.0    201883
21.0    169500
22.0    148605
23.0    110428
Name: count, dtype: int64

3. Which days of the week have the highest number of accidents?

In [10]:
ds['day']=ds['Start_Time'].dt.day_name()
no=ds['day'].value_counts().sort_values(ascending=False)
print(no)

day
Friday       1237229
Thursday     1196137
Wednesday    1195864
Tuesday      1177923
Monday       1108807
Saturday      579153
Sunday        490115
Name: count, dtype: int64

4. What are the most common weather conditions during accidents?

In [11]:
weather=ds['Weather_Condition'].value_counts().sort_values(ascending=False)
print(weather.head())

Weather_Condition
Fair             2560802
Mostly Cloudy    1016195
Cloudy            817082
Clear             808743
Partly Cloudy     698972
Name: count, dtype: int64

5. How to identify columns with missing data and their missing percentage?

In [12]:
data=ds.isnull().sum()
data=data[data!=0]

miss=pd.DataFrame({
    'count':data,
    'percentage':data/ds.shape[0]*100
})
print(miss)

                         count  percentage
Start_Time              743166    9.616047
End_Lat                3402762   44.029355
End_Lng                3402762   44.029355
Description                  5    0.000065
Street                   10869    0.140637
City                       253    0.003274
Zipcode                   1915    0.024779
Timezone                  7808    0.101030
Airport_Code             22635    0.292881
Weather_Timestamp       120228    1.555666
Temperature(F)          163853    2.120143
Wind_Chill(F)          1999019   25.865904
Humidity(%)             174144    2.253301
Pressure(in)            140679    1.820288
Visibility(mi)          177098    2.291524
Wind_Direction          175206    2.267043
Wind_Speed(mph)         571233    7.391355
Precipitation(in)      2203586   28.512858
Weather_Condition       173459    2.244438
Sunrise_Sunset           23246    0.300787
Civil_Twilight           23246    0.300787
Nautical_Twilight        23246    0.300787
Astronomical_Twilight    23246    0.300787
hour                    743166    9.616047
day                     743166    9.616047

6. How to impute missing numerical values with median?

In [24]:
for col in ds.columns:
    if ds[col].dtype in ['int64', 'float64']:
        ds[col] = ds[col].fillna(ds[col].median())
print(ds.isnull().sum())

ID                            0
Source                        0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                       0
End_Lng                       0
Distance(mi)                  0
Description                   5
Street                    10869
City                        253
County                        0
State                         0
Zipcode                    1915
Country                       0
Timezone                   7808
Airport_Code              22635
Weather_Timestamp        120228
Temperature(F)                0
Wind_Chill(F)                 0
Humidity(%)                   0
Pressure(in)                  0
Visibility(mi)                0
Wind_Direction           175206
Wind_Speed(mph)               0
Precipitation(in)             0
Weather_Condition        173459
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset            23246
Civil_Twilight            23246
Nautical_Twilight         23246
Astronomical_Twilight     23246
dtype: int64

7. How to impute missing categorical values with the mode?

In [25]:
for col in ds.columns:
    if ds[col].dtype == 'object':
        ds[col] = ds[col].fillna(ds[col].mode()[0])
print(ds.isnull().sum())

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

8. How to label encode a categorical column?

In [27]:
ds.loc[:, 'City_Encoded'] = ds['City'].astype('category').cat.codes
print(ds[['City', 'City_Encoded']].head())

           City  City_Encoded
0        Dayton          2894
1  Reynoldsburg         10195
2  Williamsburg         13347
3        Dayton          2894
4        Dayton          2894

9. How to one-hot encode a categorical column?

In [3]:
ds['City_Encoded'] = ds['City'].astype('category').cat.codes

print(ds[['City', 'City_Encoded']].head())

           City  City_Encoded
0        Dayton          2894
1  Reynoldsburg         10195
2  Williamsburg         13347
3        Dayton          2894
4        Dayton          2894