<a href="https://colab.research.google.com/github/sanjaykumar545/RoadSafe-Analytics/blob/main/milestone1/week2/day9/date%26timehandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [27]:
#syntetic data : generates sequences of date from 01 to 10-01-2023 ,converted nto strings and then picking 15 dates(repetitions) from it
np.random.seed(42)
dates = pd.date_range(start='2023-01-01', periods=10, freq='D').astype(str)
random_dates = np.random.choice(dates, size=15)

In [28]:
#selecting random_dates,severity from 1-4
df = pd.DataFrame({
    'accident_id': range(1, 16),
    'date_str': random_dates,
    'severity': np.random.randint(1, 5, size=15)
})
print(df.head())

   accident_id    date_str  severity
0            1  2023-01-07         1
1            2  2023-01-04         2
2            3  2023-01-08         4
3            4  2023-01-05         4
4            5  2023-01-07         2

In [29]:
df['date'] = pd.to_datetime(df['date_str'])
df['hour'] = df['date'].dt.hour
df['weekday'] = df['date'].dt.day_name()
df['month'] = df['date'].dt.month_name()

In [30]:
#picking 2 random rows and replacing its dates with NAT
nan_indices = np.random.choice(df.index, size=2, replace=False)
df.loc[nan_indices, 'date'] = pd.NaT
print("Dataset with NAT values")
print(df.loc[nan_indices])

# Fill missing datetime values using forward fill method
df['date_filled'] = df['date'].fillna(method='ffill')
print("Dataset after filling with ffill method\n",df.loc[nan_indices])

Dataset with NAT values
   accident_id    date_str  severity date  hour    weekday    month
1            2  2023-01-04         2  NaT     0  Wednesday  January
5            6  2023-01-10         2  NaT     0    Tuesday  January
Dataset after filling with ffill method
    accident_id    date_str  severity date  hour    weekday    month  \
1            2  2023-01-04         2  NaT     0  Wednesday  January
5            6  2023-01-10         2  NaT     0    Tuesday  January

  date_filled
1  2023-01-07
5  2023-01-07

/tmp/ipython-input-3728485460.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['date_filled'] = df['date'].fillna(method='ffill')

In [31]:
df_dropped = df.dropna(subset=['date'])  #dropping columns with NAT values

In [38]:
# Filtering rows where date is after a specific datetime
filter_df = df[df['date'] > pd.Timestamp('2023-01-06')]

print("\nRows after dropping missing datetime:")
print(df_dropped.head())

print("\nRows with date after 2023-01-06:")
print(filter_df.head())

Rows after dropping missing datetime:
   accident_id    date_str  severity       date  hour   weekday    month  \
0            1  2023-01-07         1 2023-01-07     0  Saturday  January
2            3  2023-01-08         4 2023-01-08     0    Sunday  January
3            4  2023-01-05         4 2023-01-05     0  Thursday  January
4            5  2023-01-07         2 2023-01-07     0  Saturday  January
6            7  2023-01-03         2 2023-01-03     0   Tuesday  January

  date_filled
0  2023-01-07
2  2023-01-08
3  2023-01-05
4  2023-01-07
6  2023-01-03

Rows with date after 2023-01-06:
   accident_id    date_str  severity       date  hour   weekday    month  \
0            1  2023-01-07         1 2023-01-07     0  Saturday  January
2            3  2023-01-08         4 2023-01-08     0    Sunday  January
4            5  2023-01-07         2 2023-01-07     0  Saturday  January
7            8  2023-01-07         4 2023-01-07     0  Saturday  January
8            9  2023-01-08         4 2023-01-08     0    Sunday  January

  date_filled
0  2023-01-07
2  2023-01-08
4  2023-01-07
7  2023-01-07
8  2023-01-08